.inspiration-container {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  
  .inspiration-section {
    display: flex;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
  }

  
  .inspiration-image {
    flex: 1; /* Image takes up remaining space */
  }
  
  .inspiration-text,
  .inspiration-image {
    flex: 1; /* Each section takes up equal space */
    display: flex;
    align-items: center; /* Vertically center content */
    font-size: medium;
  }
 
  .inspiration-image img {
    width: auto; /* Make sure the image fills its container */
    max-height: 300px; /* Maintain aspect ratio */
    height: auto;
  }