body{
   color: navy;
}

header {
   padding-left: 10px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size:x-large;
   text-align: center;
}

nav {
   text-align: center;
   font-size:larger;
   margin-left: 20px;
   margin-right: 20px;
}

.navbar {
   list-style: none; /* Remove the bullets */
   padding: 0;
 }

 .navbar li {
   display: inline;
   margin-right: 50px; /* Adjust the margin to reduce space between items */
   margin-left: 50px; /* Adjust the margin to reduce space between items */
 }
 
 .navbar a {
   color: #000; /* Set the text color */
   text-decoration: none; /* Remove the underline */
   transition: color 0.3s ease; /* Add a smooth transition effect */
 }
 
 .navbar a:hover {
   color: #007bff; /* Change the text color on hover */
 }
